
.main1-content {
 width: 500px;
    background-color: antiquewhite;
    padding: 5px;
    margin: 0 auto;
    width: 50vw;


}
.info-block {
    width: 50%;
    font-size:  14px;
    background-color: aqua;
 padding: 2em;
 margin: 10px;
 border: 5px solid #000;
 /* border-width: ; */
 border-color: blue;
 border-radius: 10px;

 /* min-width: ;
 max-width: ;
 min-height: ;
 max-height: ; */
/* box-sizing: border-box; */
/* box-sizing: content-box; */
/* box-sizing: unset; */
}

