 p {
    font-size: 20px;
    color: rgb(19, 18, 18);
}
/* comment */

/* i
*am 
comment */

.p-six {
    color: rgb(42, 165, 104);
}
h1 {
color: rgb(0, 0, 250);

}
h2 {
    color: rgba(0, 0, 250, 0.5);

}
.heading-1 {
    text-align: left;

}
.heading-2 {
    text-align: right;
}
.heading-3 {
    text-align: center;
    
}
.heading-4 {
    text-align: justify;
    
}
p {
    width: 500px;
    text-align: justify;

}
div
p {
    font-size: 30px;   
}
.p-with-bg {
    /* background-color: antiquewhite; */
    
   background-image: url();
}
