.decoretion::first-letter{
    font-size: 200%;
    color: blue;
}
.decoretion::first-line {
    font-size: 200%;
    color: rgb(231, 231, 14);
}

.form-wrapper {
    padding: 20px 30px;

}
button {
display: block;
margin-top: 10px;
padding: 10px 20px;
background-color: blue;
color: white;
border: none;
}
button:hover {
    background-color: aqua;
    color: black;
    cursor: pointer;
}
button:active {
    background-color: rgb(156, 216, 45);
}
input {
    padding: 5 px 10px ;
    border: 1px solid #000;
    outline: none;
}
input:focus {
    border: 2px solid blue;
}
a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}
a:link{
    color: blueviolet;

}
a:visited {
    color: rgb(224, 134, 24);
}
li:first-child {
    font-weight: bold;
}
li:last-child{
    font-weight: bold;
    color: blue;
}
li:nth-child(2n){
    font-weight: bold;
    color: aqua;
}
