/* .flex-container {
    display: flex;
    height: 300px;
    background-color: bisque;
    padding: 10px;
    

    
}
.flex-item {
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    margin: 3px;
    flex-direction: row;

}
.flex-item-1 {
order: 3;
}
.flex-item-2 {
    order: 4;

}
.flex-item-3 {
    order: 2;

}
.flex-item-4 {
order: 1;

} */

*{
    margin: 0;
    padding: 0;

}
.flex-item1 {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 209, 196);
    padding: 10px;
    margin: 0 auto;
    flex-direction: column;
    color: azure;
    
  
    
}
h1{

    font-weight: bold;
   
}

h2{

    font-weight: 500;
}
.navigation {
   
    height: 30px;
    background-color: rgb(134, 97, 97); 
    /* color: azure; */
    padding: 10px;
    flex-direction: column;
    display: flex;


}
.navigation ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
padding: 0px;

}

.navigation a {
    text-decoration: none;
    color: white;
 margin: 0 5px;
 

}
.flex-item2 {
    display: flex;
background-color: rgb(209, 208, 208);
width:1100pxpx;
height: 200px;

}
h2 {
    justify-content: center;
    align-items: center;
}
/* }

.flex-item3 {
    display: flex;
    background-color: rgb(100, 100, 99);
    width: 300px;
height: 100px;
justify-items: left;
padding: 5px 10px;
margin: 10px;
color: white;


} */
/* .flex-item5 {
    display:inline-block;
    position: absolute;
    background-color: rgb(100, 100, 90);
    width: 100px;
    height: 100px;
   max-width: 100%;
    align-items: first baseline;
    justify-content: last baseline;
    padding: 5px 10px;
margin: 10px;
} */

.block-1{
    display: flex ;
    /* display: -webkit-flex; */
    align-items: flex-start;
    background-color: rgb(199, 197, 197);
    height: 200px;

}
.block-2{
    width: max-content;
   margin: 15px;
   padding: 5px 5px;
   

}
.block-2 span{
    display: flex;
    background-color: rgb(100, 100, 100);
    justify-content: left;
    /* align-items: flex-start; */
    width: 150px;
    height: 100px;
    margin: 5px; 
    padding: 5px;
}
.block-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    margin: 15px;
   padding: 5px 5px;

}
.block-3 span {
    display: flex;
    background-color: rgb(100, 100, 100);
    justify-content: left;
    /* align-items: flex-start; */
    width: 1000px;
    height: 100px;
    margin: 5px; 
    padding: 5px;
}



