/* .flowers-img {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 20px;

}
.content {
margin-left: 200px;


}
.heading{
    clear: left;
}
.box {
    width: 200px;
    height: 50px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    background-color: antiquewhite;
} */
.main {
    position: relative;
}
.modal-window {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    border: 1px solid ;
}