body{
    box-sizing: border-box;
}

.header {
    height: 900px;
    background: url(Layer_21_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    padding: 149px 216px;

    color: #ffffff;
    font-family: "montserrat";
    font-weight: 700;

    margin-bottom: 85px;

    
}
.header-subtitle {
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 16px;
}

.header-title{
    text-transform: uppercase;
    font-size: 54px;
    border: 1px solid #ffffff;
    background-color: #000;
}

.header-info {
    font-family: "lato ";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 22px;
}
.header-title-we {
    display: inline-block;
    padding: 38px 23px 38px 31px;
    color: #f48e0b;
    border-right: 1px solid #f48e0b;
}
.header-title-main{
    display: inline-block;
    padding: 38px 31px 38px 23px;
}
.about-us{
margin-bottom: 85px;

}
.container  {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-us-title
.our-seret-title {
    color: #333;
    font-family: monospace;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    /* margin-bottom: 15px; */
    /* gap: none; */
    

}

.about-us-info
.our-secret-info {
    color: #4d4943;
    font-family: "lato";
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 50px;
}
.business-consulting-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr ;
    grid-template-rows: 148px 148px;
    gap: 22px 30px;
    margin: 100px;
}
.about-us-main-info {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.business-consulting-title {
    font-family: monospace;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 36px;

}
.business-title {
color: #333;


}
.consulting-title {
    color: #f1ad1d;
}
.business-consulting-info {
    color: #505050;
    font-family: lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 36px;
}
.business-consulting-btn {
    color: #ffffff;
    font-family: lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    padding: 19px 27px ;
    background-color: #f1ad1d;
border: none;
cursor: pointer;
}
/* secret section */
.our-secret {
    margin-bottom: 85px;
}
.our-secret-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 426px;
    margin: 100px;
    gap: 38px;

}
.container {
    gap: 27px;
}
/* .our-secret-title {
    margin: 20px;
    gap: 10px;
} */

.our-secret-card {
    width: 100%;
    height: 100%;
    background-color: pink;
    border-end-end-radius: 10px ;


}
.secret-card-header {
    padding: 22px 0 16px 0;
    background-color: #333;
    font-family: monospace;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.secret-card-first {
    color: #ffffff;
}
.secret-card-second {
    color: #f1ad1d;

}
.contact-section {
    margin-bottom: 140px;
}
 .contact-title {
    color: #333;
    font-family: monospace;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px;

 }
 .conttact-subtitle{
    color: #4d4943;
    font-family: lato;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 50px;
 }
 .conttact-subtitle::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin: 0 auto;
    margin-top: 47,5px;
    margin-bottom: 45px;

 }
 .contact-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
 }
 .contact-form-wrapper ,
 .get-in-touch-wrapper {
    flex-basis: 50%;
 }
.form-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    max-width: 383px;
    background-color: #333;
    padding: 24px 0 17px 17px;
    margin-bottom: 12px;
}
.form-subtitle{
    color: #505050;
    font-family: lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 25px;
}
input [type="text"]
input [type="email"]
textarea {
    font-family: lato;
    font-size: 14px;
    font-weight: 300;
    padding: 21px 0 13px 14px;
    margin-bottom: 19px;
    border: 1px solid #929292;
    outline: none;
}
input [type="text"]
input [type="email"] {
    width: 50%;

}
textarea{
    width: 100%;

}
input [type="text"]:focus
input [type="email"]:focus
textarea:focus {
    border: 2px solid #f1ad1d;


}
.form-btn {
    padding: 16px 40px;
    border: none;
    background-color: #f1ad1d;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 20px;

}
