/* 
.grid-container {
    display: grid;
    padding: 10px;
    border: 1px solid #000;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 100px 50px 100px; */
    /* grid-gap: 5px;

}
.grid-item {
    background-color: #f1f1f1;
    border: 1px solid #000;
    padding: 20px o;
    font-size: 30px; */

/* }
.grid-item-first { */
    /* grid-column: 2 / span 3; */
    /* grid-column-start: 1; */
/* grid-column-end: 5; */
    /* grid-column: 2 / auto; */
    /* grid-row-start: 1;
    grid-row-end: 4; */
    /* grid-row: 1/4; */
    /* grid-row: 2/ span 3; */
    /* grid-area: <grid-row-start> / <grid-column-start> / <grid-column-end> / <grid-row-end> ; */
    /* grid-area: 1 / 2 / 5 / 5; */
    
/* } */
/* 
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    padding: 10px;
    border: 1px solid #000;
    grid-template-areas: "header header header" "nav main main" "aside main main" "footer footerm footer";

 }

header{
    grid-area: header ;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
aside{
grid-area: aside;
}
footer{
grid-area: footer;
} */
/* .grid-item {
    padding: 10px;
    border: 1px solid #000;
} */
.grid-container{
    display: grid;
    padding: 10px;
    border: 1px solid #000;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto ;
    /* grid-template-areas: "header header header" "nav main main" "aside main main" "footer footerm footer"; */
    height: 1000px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    /* line-height: 100px; */
    gap: 10px 5px;
   
   


}
.grid-item {
    background-color: #edeff0;
    border: 1px solid #000;
    padding: 20px o;
  

   
}
header{
    background-color: aqua;
    grid-column: 1 / -1 ;
    text-align: center;
    /* grid-row: 1 / 1 ; */
}
nav{
    background-color: #e09fb5;
    grid-column: 1 / auto;
grid-row: 2 / span 1 ;
}
main{
    background-color: rgb(214, 131, 21);
    grid-column: 2 / 5;
    grid-row: 2  ;
    /* height: 300px; */
}
aside{
    background-color: rgb(16, 185, 106);
    grid-row: 4 / span 4 ;
    grid-column: 1;
}
h4 {
    background-color: rgb(140, 226, 199);
    grid-row: 4 / span 4;
    grid-column: 2 / 5 ;
    /* height: 200px; */

}
p{
    background-color: rgb(218, 51, 134);
    grid-row: 7 / span 3;
    grid-column: 1 / 4 ;
}
text{
    background-color: rgb(228, 164, 175);
    grid-row: 7 / span 3 ;
    grid-column: 4 ;

}
footer{
    background-color: rgb(182, 179, 179);
    grid-row: 10;
    grid-column: 1 / -1;
}