div
 #wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: bisque;

}
 
.header{
    width: 1400px;
    background-color: blue;
    margin: 0 auto;
    color: azure;
    border: 10px; 
    padding: 50px;
    font-size: 20px;
    margin-bottom: 100px;
border-radius: 10px;
border-style: solid;
border-color: rgb(4, 4, 75);
border-width: 20px;
}

.text {
    width: 100vmin;
    height: 10vmax;
    background-color: yellow;
    margin: 0 auto;
    color: rgb(99, 11, 214);
    border-style: solid;
    border-width: 50px 50px 50px 50px;
    border-color: rgb(99, 100, 25);
    font-size: 40px;
    margin-bottom: 100px;


}

footer {
    width: 95vw;
    height: 20vh;
    background-color: blue;
    margin: 0 auto;
    color: azure;
    border: 15px;
    font-size: 20px;
    line-height: 140px;
    border-radius: 10px;
    border-radius: 10px;
border-style: solid;
border-color: rgb(4, 4, 75);
border-width: 20px;

}